$color-white: #ffffff;

$color-bright-grey: #d9d9d9;
$color-light-grey: #cecece;
$color-medium-grey: #b4b9be;
$color-space-grey: #838383;

$color-text-black: #3e4155;

$color-black: #000000;
$color-black-07: #000000b3;

$color-red: #ff0000;

$color-branding: #714eff;

$color-background: #f7f6fa;
$input-background: #f4f4f4;
$button-background: #ebe7ff;
