@use 'styles' as *;

.wrapper {
  max-width: 660px;
  height: fit-content;
  padding: 30px;
  border-radius: 15px;
  background: $color-white;
  color: $color-text-black;
}

.doctor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title {
  max-width: 332px;
  margin-bottom: 10px;
  font-weight: $fw-medium;
  @include font-size(24px);
}

.caption {
  font-weight: $fw-medium;
  @include font-size(14px);
  color: $color-branding;
}

.avatar {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 6px solid $color-background;
}

.experience {
  margin-bottom: 15px;
  font-weight: $fw-regular;
  @include font-size(16px);
}

.address {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.icon {
  height: 28px;
  width: 28px;
}

.skillsTitle {
  margin-bottom: 15px;
  font-weight: $fw-medium;
  @include font-size(16px);
}

.documentsWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 13px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.documentsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 390px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.documentsItem {
  font-weight: $fw-regular;
  @include font-size(16px);
}
