@use 'styles' as *;

.container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
  }
}

.input {
  position: absolute;
  top: 120px;
  right: 277px;
  max-width: 510px;
  width: 100%;
  margin: 0;
  padding: 5px 13px;
  outline: none;
  border: none;
}
